RESTAURANT OPTION.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful and friendly AI assistant for a restaurant. Your primary functions are to take customer orders, check the status of existing orders, and cancel orders.\n\n**Instructions:**\n1.  **Greeting:** Start the conversation with a friendly greeting.\n2.  **Taking Orders:** When a customer wants to place an order, collect the following details: Customer Name, Phone Number, Delivery Address, and the Items they want to order. Once you have all the details, calculate the total price. Before you use the `orders_sheet_write_tool`, you **MUST** first use the `code_tool` to generate a unique 4-digit Order ID. Then, call the `orders_sheet_write_tool` with all the collected information, including the new Order ID.\n3.  **Checking Orders:** To check an order's status, you must have the Order ID. Use the `orders_sheet_read_tool` to retrieve the order details.\n4.  **Canceling Orders:** To cancel an order, you must have the Order ID. Use the `order_sheet_cancel_tool` to update the order's status to 'Cancelled'.\n5.  **Restaurant Information:** If the customer asks about the menu, opening hours, or other general information, use the `Simple_Vector_Store` tool to find the answer."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        912,
        -912
      ],
      "id": "51064a76-a37d-4556-a8c9-8139245c4af5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        512,
        -592
      ],
      "id": "af35ff8f-68a0-4e61-ae51-2cb7e6e6d549",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ASmZwWEinT7niUeY9yISlA4FZktOJgMRQ3ikcSYM-fU",
          "mode": "list",
          "cachedResultName": "Orders with Karim",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ASmZwWEinT7niUeY9yISlA4FZktOJgMRQ3ikcSYM-fU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ASmZwWEinT7niUeY9yISlA4FZktOJgMRQ3ikcSYM-fU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Order id",
              "lookupValue": "={{ $fromAI(\"order_id\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1264,
        -624
      ],
      "id": "f475f4ae-9abb-4eda-a09c-2a393633c130",
      "name": "orders_sheet_read_tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZrccrBXHpElMnzKn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16YhtPYni3bO6pXjYbNbyxm7zHSVf3-WqeKWiKsBtN4A",
          "mode": "list",
          "cachedResultName": "restaurant ordre",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16YhtPYni3bO6pXjYbNbyxm7zHSVf3-WqeKWiKsBtN4A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ASmZwWEinT7niUeY9yISlA4FZktOJgMRQ3ikcSYM-fU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "In Kitchen",
            "Timestamp": "{{ $now }}",
            "Order id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_ID', ``, 'string') }}",
            "Items": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Items', ``, 'string') }}",
            "Total_Price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_Price', ``, 'string') }}",
            "Customer_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name', ``, 'string') }}",
            "Phone_Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Delivery_Address": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Delivery_Address', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Order id",
              "displayName": "Order id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Items",
              "displayName": "Items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total_Price",
              "displayName": "Total_Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer_Name",
              "displayName": "Customer_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Delivery_Address",
              "displayName": "Delivery_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1088,
        -624
      ],
      "id": "5cd2af39-8a21-4cc8-9358-7d4b517baf71",
      "name": "orders_sheet_write_tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZrccrBXHpElMnzKn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate a unique 4-digit order ID without imports\nconst orderId = (Math.floor(1000 + Math.random() * 9000)).toString();\nreturn orderId;\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1408,
        -608
      ],
      "id": "1a5d8572-632c-43ed-a185-fe04d6eb2bb2",
      "name": "code_tool"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "16YhtPYni3bO6pXjYbNbyxm7zHSVf3-WqeKWiKsBtN4A",
          "mode": "list",
          "cachedResultName": "restaurant ordre",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16YhtPYni3bO6pXjYbNbyxm7zHSVf3-WqeKWiKsBtN4A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16YhtPYni3bO6pXjYbNbyxm7zHSVf3-WqeKWiKsBtN4A/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "cancelled",
            "Order id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_id__using_to_match_', ``, 'string') }}"
          },
          "matchingColumns": [
            "Order id"
          ],
          "schema": [
            {
              "id": "Order id",
              "displayName": "Order id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Items",
              "displayName": "Items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total_Price",
              "displayName": "Total_Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer_Name",
              "displayName": "Customer_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delivery_Address",
              "displayName": "Delivery_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        864,
        -592
      ],
      "id": "d791ed1c-5519-459d-9acc-84d7aa8ae457",
      "name": "order_sheet_cancel_tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZrccrBXHpElMnzKn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        560,
        -912
      ],
      "id": "fffdbe19-b145-472f-a20e-6736c736f719",
      "name": "When chat message received",
      "webhookId": "79855e2b-b354-4c95-8c2f-946c2864c920"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyWeek"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1DOHiH-D_lBSSKqMLIY1XfOx6gTzuzLzK",
          "mode": "list",
          "cachedResultName": "restaurant_info1.txt",
          "cachedResultUrl": "https://drive.google.com/file/d/1DOHiH-D_lBSSKqMLIY1XfOx6gTzuzLzK/view?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        608,
        -160
      ],
      "id": "9b55a6d5-5239-4e39-b4c3-a2924700db33",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BNDZdfshJER6Y2iG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "karam",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1232,
        -160
      ],
      "id": "8a415172-f9f9-4c69-b2af-5db6d33b434d",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1088,
        160
      ],
      "id": "968b755b-e501-468c-9c5b-874f8f3395b2",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "7ymoHjEs8e8WpIzo",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1440,
        0
      ],
      "id": "2d106ee3-6996-4e4b-b648-2def5fab954b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 40
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        1616,
        192
      ],
      "id": "afbb6ab7-06bb-42a3-a32a-16b89f077559",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to get information about the restaurant, such as menu items, opening hours, and location.",
        "memoryKey": {
          "__rl": true,
          "value": "karam",
          "mode": "list",
          "cachedResultName": "karam"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        880,
        -432
      ],
      "id": "fab21dd3-2d7f-44d3-b7d2-fc6feec2033f",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        -176
      ],
      "id": "268485fd-278b-4ad4-bc05-598f84c604b8",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BNDZdfshJER6Y2iG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        -368
      ],
      "id": "baeec585-8cd7-472a-a3f5-913d737033a6",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "7ymoHjEs8e8WpIzo",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        -592
      ],
      "id": "c8e66c88-aa95-478f-866a-4145aa21b8af",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7ymoHjEs8e8WpIzo",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "orders_sheet_read_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "orders_sheet_write_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "code_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "order_sheet_cancel_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b3e2212a-0d85-49e6-b79d-c563cf711bb4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54ba63b56e5a21a8d5c766e48a39c79540bc30883bd5e3bec33447018a67ec81"
  },
  "id": "OrvY9d0W4OLW2Bdo",
  "tags": [
    {
      "createdAt": "2025-09-10T20:38:40.481Z",
      "updatedAt": "2025-09-10T20:38:40.481Z",
      "id": "Cdd3SrAxmnVXswgL",
      "name": "Restaurant with Karim"
    }
  ]
}